#*
*.[eo][0-9]*
*.cost
*.err
*.log
*.nosolve
*.plan
*.plan.*
*.qsub
*.qsub.*
*.sas
*.sasp
*.stat
*.summary
*.time
*t??.pddl
*~
/README.org
/cgroup-setup.sh
/clean
/clean-cgroup.sh
/component-planner*
/cost-per-domain.lisp
/costs.gnuplot
/costs.pdf
/data
/doubling-qsub.sh
/gitignore
/install.sh
/iterator.sh
/killall.sh
/lama.sh
/lama.summary-success
/lama.summary-success-1800
/macrousage-all.sh
/macrousage.lisp
/map
/mvrm
/pack-per-node.sh
/pack-temp.sh
/pack.sh
/ps-all
/ps-per-node.sh
/pull.sh
/push.sh
/qhold-all.sh
/qsub-here.sh
/qsub-template.sh
/remove-per-node.sh
/remove-temp.sh
/run.sh
/shared-template.sh
/simple-test.sh
/summarize-example.sh
/summarize-util.sh
/summarize.sh
/tarai.lisp
/template.sh
/test-doubling.sh
/ulimit-test.sh
/utilities.sh
/watch.sh
README.org
TAGS
addexec
big-table.lisp
big-table.sh
big-table.tex
cea.sh
cea2.sh
cea2ncp.sh
cea2ncy.sh
cea2tl.sh
cgroup-setup.sh
clean
clean-cgroup.sh
costs.lisp
costs.sh
coverage-all.sh
coverage-tex.lisp
coverage.lisp
doubling-qsub.sh
fd.sh
fd2.sh
fd2ncp.sh
fd2ncy.sh
fd2tl-agile.sh
fd2tl.sh
fd2tl7-agile.sh
ff.sh
ff2.sh
ff2ncp.sh
ff2ncy.sh
ff2tl.sh
ff2tl7.sh
fffd.sh
fffdncp.sh
fffdncy.sh
fffdtl-agile.sh
fffdtl.sh
genpdf.sh
install.sh
iterator.sh
killall.sh
lama.sh
length.gnuplot
length.lisp
length.sh
macrousage-all.sh
macrousage.lisp
map
mff.sh
mff2.sh
mfffd.sh
mv.sh
mv2.sh
mv2tl.sh
mvr1.sh
mvr12.sh
mvr12tl.sh
mvrm
pack-per-node.sh
pack-temp.sh
pack.sh
preprocess-per-domain.lisp
preprocess-per-domain.sh
preprocess.lisp
preprocess.sh
probe.sh
probe2.sh
probe2ncp.sh
probe2ncy.sh
probe2tl.sh
probe2tl7.sh
ps-all
ps-per-node.sh
pull.sh
push.sh
qgrep
qhold-all.sh
qsub-here.sh
qsub-template.sh
random-test.sh
remove-per-node.sh
remove-temp.sh
run.sh
setup.sh
shared-template.sh
solep-template.sh
solep-template2.sh
solep.sh
summarize-failed-iteration.sh
summarize-util.sh
summarize.sh
tarai.lisp
template.sh
test-doubling.sh
trainingset.sh
utilities.sh
validate-all.sh
watch.sh
