#*
*.[eo][0-9]*
*.cost
*.err
*.log
*.nosolve
*.plan
*.plan.*
*.qsub
*.qsub.*
*.sas
*.sasp
*.stat
*.summary
*.time
*~
/component-planner*
README.org
addexec
big-table.lisp
big-table.sh
big-table.tex
cea.sh
cea2.sh
cea2ncp.sh
cea2ncy.sh
cgroup-setup.sh
clean
clean-cgroup.sh
costs.lisp
costs.sh
coverage-all.sh
coverage-tex.lisp
coverage.lisp
doubling-qsub.sh
fd.sh
fd2.sh
fd2ncp.sh
fd2ncy.sh
ff.sh
ff2.sh
ff2ncp.sh
ff2ncy.sh
fffd.sh
fffdncp.sh
fffdncy.sh
genpdf.sh
install.sh
iterator.sh
killall.sh
lama.sh
length.gnuplot
length.lisp
length.sh
macrousage-all.sh
macrousage.lisp
map
mff.sh
mff2.sh
mfffd.sh
mv.sh
mv2.sh
mvrm
pack-per-node.sh
pack-temp.sh
pack.sh
preprocess-per-domain.lisp
preprocess-per-domain.sh
preprocess.lisp
preprocess.sh
probe.sh
probe2.sh
ps-all
ps-per-node.sh
pull.sh
push.sh
qhold-all.sh
qsub-here.sh
qsub-template.sh
remove-per-node.sh
remove-temp.sh
run.sh
shared-template.sh
solep-template.sh
solep-template2.sh
solep.sh
summarize-util.sh
summarize.sh
tarai.lisp
template.sh
test-doubling.sh
utilities.sh
validate-all.sh
watch.sh
